#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.world {
  width: 100%;
}

.world__div-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world__div-cell {
  margin: 2px;
  width: 20px;
  height: 20px;
  background-color: #5555;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.active {
  background-color: #0ae448;
  filter: drop-shadow(0 0 0.75rem #22ff61);
}
.startButton:hover {
  filter: drop-shadow(0 0 0.25rem #22ff61);
}

.stopButton:hover {
  filter: drop-shadow(0 0 0.25rem #ff2222);
}
.activeStop {
  background-color: #e40a0a;

  filter: drop-shadow(0 0 0.25rem #ff2222);
}
